@import url('https://fonts.googleapis.com/css?family=Scada:400,700&display=swap');
@import url('https://fonts.googleapis.com/css?family=Cabin+Condensed|Scada:400,700&display=swap');
#main {
	font-family: 'Cabin Condensed', sans-serif;
	margin: 30px 8px;
	padding: 15px;
	border-radius: 5px;
	background: #FFD6B6;
}
@media (max-width: 460px) {
  #main {
    margin: 0;
  }
}
img {
  max-width: 25%;
  display: block;
  height: auto;
  margin: 0 auto;
  margin-top: 7px;
}
#img-div {
  background: #EA7362;
  padding: 10px;
  margin: 0;
}
#img-caption {
  margin: 15px 0 5px 0;
  text-align: center;
}
@media (max-width: 460px) {
  #img-caption {
    font-size: 1.4rem;
  }
}

#headline {
  margin: 50px 0;
  text-align: center;
}

ul {
  max-width: 550px;
  margin: 0 auto 50px auto;
  text-align: left;
  line-height: 1.6;
}

li {
  margin: 16px 0;
}

blockquote {
  font-size: 19px;
  font-style: italic;
  max-width: 545px;
  margin: 0 auto 50px auto;
  text-align: left;
}
#title{
	font-size: 54px;
	font-family: 'Scada';
	text-align:  center;
}

#des-title{
	font-size: 23px;
	text-align: center;
	padding-top: 5px;
}

#tribute-info{
	text-align: center;
}

blockquote p {
	color: #333333;
}